* {
    font-family: 'Open Sans';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
html {
    padding: 0;
    margin: 0;
}
body:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    background-image: url('http://a1.phobos.apple.com/us/r30/Music4/v4/88/28/d7/8828d7e1-c1ae-98f4-e3e6-57720648b38e/13UMGIM15044.450x450-75.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -1;
    height: 110%;
    width: 110%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.7;
}
body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.music {
    width: 100%;
    height: 100%;
    float: right;
    margin-top: 5%;
    margin-left: 3%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    align-content: space-between;
}
.song {
    float: left;
    margin: 5%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 170px;
    height: 240px;
    overflow: hidden;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    white-space: nowrap;
}
.song:hover {
    cursor: pointer;
    color: #FFF;
    opacity: 0.7;
    white-space: normal;
}
.song > p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song > p:nth-of-type(1) {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 500;
    white-space: inherit!important;
}
.art {
    width: 170px;
    height: 170px;
    border-radius: 2%;
    background-size: cover;
}
.player {
    display: none;
}