* {
    font-family: 'Open Sans';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
html {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
body:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    background-image: url('http://a634.phobos.apple.com/us/r30/Music6/v4/2c/42/26/2c42267b-2ff1-f712-9133-a68a8dba133c/825646347636.170x170-75.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -1;
    height: 110%;
    width: 110%;
    /* Using Glen Maddern's trick /via @mente */
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.5;
}
body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.music {
    width: 100%;
    height: 100%;
    float: right;
    padding: 5%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.song {
    float: left;
    margin: 5%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 170px;
    height: 240px;
    overflow: hidden;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}
.song:hover {
    cursor: pointer;
    color: #FFF;
    opacity: 0.7;
}
.song > p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song > p:nth-of-type(1) {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 500;
}